%h2 All Recipies
%table#recipes.table.table-striped.col-md-12
  %thead
    %tr
      %th Recipe Name
      %th Ingredients
      %th Cuisine Type
      %th Calories
      %th Cooking Time
  %tbody
    - @recipes.each do |recipe|
      %tr
        %td
          = recipe.recipe_name
        %td
          = recipe.ingredients
        %td
          = recipe.cuisine_type
        %td
          = recipe.calories
        %td
          = recipe.cooking_time

-#= link_to 'Add new Recipe' :class => 'btn btn-primary'