%h2 All Recipes
%table#recipes.table.table-striped.col-md-12
  %thead
    %tr
      %th Recipe Name 
      %th Ingredients
      %th Cuisine Type
      %th Calories
      %th Cooking Time
  %tbody
    - @recipes.each do |recipe|
      %tr
        %td
          = link_to "#{recipe.recipe_name}", recipe_path(recipe)
        %td
          = recipe.ingredients
        %td
          = recipe.cuisine_type
        %td
          = recipe.calories
        %td
          = recipe.cooking_time

= link_to 'Add new recipe', new_recipe_path, :class => 'btn btn-primary givedownmargin'