%h2 Create New Recipe
= form_tag recipes_path, :class => 'form' do
  = label :recipe, :recipe_name, 'Name', :class => 'col-form-label'
  = text_field :recipe, :recipe_name, :class => 'form-control'
  = label :recipe, :ingredients, 'Ingredients', :class => 'col-form-label'
  = text_field :recipe, :ingredients, :class => 'form-control'
  = label :recipe, :calories, 'Calories', :class => 'col-form-label'
  = number_field :recipe, :calories, :class => 'form-control'
  = label :recipe, :cuisine_type, 'Cuisine Type', :class => 'col-form-label'
  = select :recipe, :cuisine_type, ['Japanese','Chinese', 'Thai'], {}, {:class => 'form-control col-1'}
  = label :recipe, :cooking_time, 'Cooking Time', :class => 'col-form-label'
  = number_field :recipe, :cooking_time, :class => 'form-control'
  %br/
  = submit_tag 'Save Changes', :class => 'btn btn-primary givedownmargin'
  = link_to 'Cancel', recipes_path, :class => 'btn btn-secondary givemargin givedownmargin'
